<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Lato:300|Mina|Raleway:200" rel="stylesheet">

  <meta name="keywords" content="<%= @seo_keywords %>" />

  <%= favicon_link_tag 'favicons/crystal-ball.ico' %>

  <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= image_tag(
     'honeycomb-gold-25percent.gif',
     id: 'background',
     autoplay: true,
     loop: true,
     muted: true,
     poster: 'honeycomb-background.png'
   )
   %>
  <header>
    <%= render 'shared/portfolio_nav' %>
  </header>

    <%= render 'shared/portfolio_masthead' unless logged_in?(:site_admin) %>

    <%= yield %>


  <%= render 'shared/portfolio_footer' %>

  <%= alerts %>

</body>
</html>
